
/* Inicio del Footer */

footer{
    @include fondo-letra ($footerColorFondo, $footerColorLetra);
    font-family: 'Open Sans', sans-serif;
    h4{
        margin: 0;
    }
    .imagenPrincipal-footer img{
        width: 50px;
    }
    .imagenSecundaria-footer img{
        width: 30px;
        height: 30px;
        opacity: .3;
        &:hover{
            opacity: 1;
        }
    }
}

/* Fin del Footer */