/* HTML Form*/

#form .contenedor{
    max-width: 520px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-image: $gradiente;
    @extend footer;
}

#form {
    font-family: Montserrat;
}

/* Fin HTML Form */