/* Inicio del Header */

header{
    background-color: $colorFondoHead;
    border-bottom: $bordeHead;
    nav{
        ul{
            li{
            padding: 3px 22px;
            margin: 5px;
            background-color: $colorFondoLi;
            border-radius: 5px;
            box-shadow: 3px 3px 1px;
            &:hover{
                background-color: $colorFondoLiHover;
                transition: 1s;  
            }
            &:hover a{
                color: $colorLihover-a !important;
            }
            }
            a{
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold !important;
                color: white !important;
                text-decoration: none;
            }
        }
    }
}

/* Fin del Header */