/* Inicio del Main */

main{
    background-image: url(https://worldshottesttour.com/static/df7ee17193510a2cca3f53186f00fe95/ccdb5/BB_BG_2400x3000.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #imagenPrincipal img{
        width: 860px;
    }
    #info .container{
        background-image: $gradiente;
        border-radius: 15px;
        font-family: 'Open Sans', sans-serif;
        img{
            width: 550px;
        }
        p{
            line-height: 1.5;
        }
    }
}

/* Fin del main */