// Variables Header
$colorFondoHead: #f12726;
$bordeHead: 1px solid #6b66b6;
$colorFondoLi: #53a745;
$colorFondoLiHover: #eedb5e;
$colorLihover-a: #4b9945;

// Variables Main
$gradiente: linear-gradient(315deg, #f5d020 0%, #f55c03 74%);
$colorLetra: #473f49;

//Variables Footer
$footerColorFondo: #473f49;
$footerColorLetra: #e1d9ee;